.container {
      margin-bottom: 50px;
    }
    body {
      font-family: 'Bitter', sans-serif;
      color: #E54A41;
      background: url('img/background.png') no-repeat right top / 20%;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      color: #333;
      margin-bottom: 2em;
    }    
    h2 {
      margin: 2em 0 1em;
    }
    .logo {
      margin: 20px auto;
      height: 100px;
    }
    @media only screen and (min-width: 768px) {
      .logo {
        margin: 28px;
        float: left;
      }
    }
    .title {
      padding: 28px;
      display: table-cell;
      position: relative;
      vertical-align: middle;
      text-align: center;
    }